<style>
    .divider {
        width: 1px;
        background: var(--red-to-pink-to-purple-vertical-gradient);
        margin-inline: 0.5rem;
    }

    .mat-sidenav-container {
        position:fixed;
        height: calc(100vh - 64px);
        width: 100%;
        min-width: 100%;
    }
    .grid{

    }
    .grid:hover{
        background-color:beige;
    }
    .highlighted{
        background-color: aquamarine;
    }
    .chara_card{
        max-height: 400px;
        min-width: 300px;
        max-width: 400px
    }
    .textarea{
        resize:none
    }
    .mat-raised-button{
        width: auto;
        height: auto
    }
    .card_container{
        max-height: calc(100vh - 64px)
    }

</style>

<mat-sidenav-container class="top-64px">
    <mat-sidenav class="overflow-y-auto" opened [disableClose]="true" mode="side">
        @for (group of group_data(); track group) {
            <div class="grid grid-cols-4 grid-rows-1" (click) = "change_selected_group(group)">
                <div class="col-span-3 col-start-1">{{group}}</div>
                <button type="" class="col-span-1 col-start-4" (click)="remove_group(group)" mat-button>X</button>
            </div>
            <mat-divider/>
        }
        <form (ngSubmit)="create_group()">
            <input  [id]="group_submit_config.id"
                    [type]="group_submit_config.type" 
                    [ngModel]="new_group_name()" 
                    (ngModelChange)="set_group_name($event)" 
                    name="dum"
                    #group_name_entry 
                    class="w-4/5 h-5 text-blue" >
            <button type="submit" class="sidenav-button" mat-button>*</button>
        </form>
        <mat-divider></mat-divider>
    </mat-sidenav>
    <mat-sidenav-content>
        @if(selected_group() == "default"){
            <div class="grid grid-cols-1 grid-rows-1">
                <h1 class="mx-auto object-center text-center text-6xl pt-12">Select a group on the left!</h1>
            </div>
        }
        @else if(!inspecting_character){
            <div class="card_container ps-4">
                <div class="p-4 overflow-y-scroll flex flex-wrap gap-4 justify-content">
                @for (chara of selected_chara_list(); track chara.key){
                    <mat-card class="chara_card">
                        <mat-card-header>
                            <div class="grid grid-cols-5 grid-rows-1">
                                <mat-card-title-group class="col-span-4 col-start-1">
                                    <mat-card-title>{{chara.name}}</mat-card-title>
                                    <mat-card-subtitle>{{chara.subtitle}}</mat-card-subtitle>
                                </mat-card-title-group>
                                <button type="" class="col-span-1 col-start-5 size-auto" [matMenuTriggerFor]="menu" mat-button>*</button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click) = "open_details(chara.key)">View</button>
                                    <button mat-menu-item (click) = "prompt_delete(chara.key)">Delete</button>
                                </mat-menu>
                            </div>
                        </mat-card-header>
                        <img class="mx-auto" mat-card-lg-image src="{{this.db_service.get_chara_img_url(chara.img_filename)}}"/>
                        <mat-card-content>
                        </mat-card-content>
                    </mat-card>
                }
                <mat-card class="chara_card">
                    <mat-card-header>
                        <mat-card-title-group>
                            <mat-card-title>
                            <div class="grid grid-cols-4 grid-rows-1">
                                <div class="col-span-3 col-start-1">New Character</div>
                                <button type="" class="col-span-1 col-start-4 size-auto" mat-button (click)="make_new_character()">+</button>
                            </div>
                            </mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        Make a new character?
                    </mat-card-content>
                </mat-card>
                </div>
            </div>
        }
        @else {
            <app-chara-details
                [selected_group] = "selected_group()"
                [chara_key] = "selected_chara_key()"
                [edit_mode] = "in_edit_mode()"
                (set_to_edit) = "set_edit_mode($event)"
                (return) = "return_to_chara_list()"/>
        }
    </mat-sidenav-content>
</mat-sidenav-container>