<style>
    .divider {
        width: 1px;
        background: var(--red-to-pink-to-purple-vertical-gradient);
        margin-inline: 0.5rem;
    }

    .mat-sidenav-container {
        position: fixed;
        height: 100%;
        min-height: 100%;
        width: 100%;
        min-width: 100%;
    }
    .list-item{

    }
    .list-item:hover{
        background-color:beige;
    }
    .highlighted{
        background-color: aquamarine;
    }
    .chara_card{
        max-height: 400px;
        min-width: 200px;
        max-width: 200px
    }
    .textarea{
        resize:none
    }
</style>

<mat-sidenav-container>
    <mat-sidenav opened [disableClose]="true" mode="side">
        @for (group of group_data(); track group) {
            <div class="list-item" (click) = "selected_group.set(group)">
                <mat-divider/>
                {{group}}
            </div>
        }
        <mat-divider></mat-divider>
        <textarea #group_name_entry class="w-4/5 h-5 text-blue">Create a new group</textarea>
        <button type="" class="sidenav-button" (click)="create_group()" mat-button>*</button>
        <mat-divider></mat-divider>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="flex flex-wrap gap-4 justify-content">
        @for (chara of selected_chara_list(); track chara.key){
            <mat-card class="chara_card">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>{{chara.name}}</mat-card-title>
                        <mat-card-subtitle>{{chara.faction}}</mat-card-subtitle>
                    </mat-card-title-group>
                </mat-card-header>
                <img class="mx-auto" mat-card-md-image src="/Clueless.webp"/>
                <mat-card-content>
                    {{chara.subtitle}}
                </mat-card-content>
            </mat-card>
        }
        </div>
    
    </mat-sidenav-content>
</mat-sidenav-container>